<div class="bg-white-1 vh-100">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'devise/shared/guest_navbar', f: f %>
    
    <div class="d-flex flex-column w-100 px-3 my-3 bg-white">
      <div class="d-flex flex-column align-items-stretch">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full name', class: 'no-outline border-0 color-text py-2 font-proxima-light' %>
      </div>
      <hr class="my-1">
      <div class="d-flex flex-column align-items-stretch">
        <%= f.email_field :email, autocomplete: "email", placeholder: 'Email', class: 'no-outline border-0 color-text py-2 font-proxima-light' %>
      </div>
      <hr class="my-1">
      <div class="d-flex flex-column align-items-stretch">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'no-outline border-0 color-text py-2 font-proxima-light' %>
      </div>
      <hr class="my-1">
      <div class="d-flex flex-column align-items-stretch">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'no-outline border-0 color-text py-2 font-proxima-light' %>
      </div>
    </div>
  <% end %>  
  <%= render "devise/shared/error_messages", resource: resource %>
</div>